<template>
  <div class="q-px-lg q-pb-md">
    <q-timeline :layout="layout" color="secondary">
      <q-timeline-entry heading>
        ประวัติ
        <br />
        {{ $q.screen.lt.sm ? "ร.พ." : $q.screen.lt.md ? "ร.พ." : "โรงพยาบาล" }}
        เบตง
      </q-timeline-entry>

      <q-timeline-entry title="จุดเริ่มต้น" subtitle="ปี 2501" side="left">
        <div>
          รัฐมนตรีว่าการกระทรวงสาธารณสุข
          พร้อมด้วยคณะได้เดินทางตรวจราชการในจังหวัดภาคใต้ในพื้นที่ อำเภอเบตง
          จังหวัดยะลา สมัยนั้นอำเภอเบตงยังไม่มีสถานพยาบาล
          การคมนาคมไม่สะดวกในการติดต่อหรือไปรักษาพยาบาลของประชาชนต้องเดินทางไปรักษาที่จังหวัดยะลา
          จึงมีความประสงค์จะจัดสร้างโรงพยาบาลในสังกัดกรมการแพทย์ขึ้นในอำเภอเบตง
          และในคราวนั้นได้รับการสนับสนุนจากคณะกรรมการอำเภอ คหบดี ตลอดจนประชาชน
          ผู้มีเจตนาที่สละที่ดินของตนเป็นการกุศลเพื่อใช้ในการจัดสร้างโรงพยาบาล
          รวมทั้งซื้อที่ดินเพิ่มเติม และได้เปิดบริการ
        </div>
      </q-timeline-entry>

      <q-timeline-entry
        title="เปิดบริการครั้งแรก"
        subtitle="28 มกราคม 2508"
        side="right"
        icon="delete"
      >
        <div>
          เป็นโรงพยาบาลขนาด 25 เตียง ในระยะแรกที่เปิดรับผู้ป่วย มีนายแพทย์ 3 คน
          คือ นายแพทย์ประสงค์ เศวตกนิษฐ์ เป็นผู้อำนวยการโรงพยาบาลเบตงคนแรก
          นายแพทย์สัมภาษณ์ พงษ์เพชร และแพทย์หญิงสุนิดา อิศรางกูร ณ อยุธยา
          มีพยาบาล (ยืมตัว) 1 คน พยาบาลที่สอบคัดเลือก 1 คน และเจ้าหน้าที่อีก 30
          คน ตั้งแต่เริ่มเปิดบริการประชาชนปี 2508 เป็นต้นมา
          โรงพยาบาลได้รับการสนับสนุนจากรัฐบาลเรื่อยมา
          จนโรงพยาบาลเบตงได้ขยายตัวมากขึ้นเรื่อย ๆ จนถึงปัจจุบัน
          เป็นโรงพยาบาลทั่วไป ขนาด 170 เตียง สังกัดสำนักงานปลัดกระทรวงสาธารณสุข
          ดูแลสถานพยาบาลในเครือข่าย 12 แห่งเป็นโรงพยาบาลส่งเสริมสุขภาพตำบล 9
          แห่ง ศูนย์สุขภาพชุมชน 3 แห่ง รวมประชากรที่รับผิดชอบทั้งสิ้น 50,839 คน
          โรงพยาบาลเบตง ตั้งอยู่ 106 ถนนรัตนกิจ ตำบลเบตง อำเภอเบตง จังหวัดยะลา
          มีเนื้อที่ทั้งหมด 60 ไร่เศษ ภายใต้การบริหารงานโดย แพทย์หญิงปัทมพันธ์
          อนันตาพงศ์ มีแพทย์เฉพาะทาง 17 คน ครอบคลุมสาขาหลัก ทั้งสาขาสูติกรรม
          สาขาอายุรกรรม สาขาศัลยกรรม สาขากุมารเวชกรรม สาขาศัลยกรรมการดูกและข้อ
          สาขาจักษุวิทยา สาขาโสต ศอนาสิก ลาริงซ์วิทยา และสาขาเวชศาสตร์ฉุกเฉิน
          มีทันตแพทย์ 6 คน เภสัชกร 10 คน พยาบาลวิชาชีพ 158 คน
          และบุคลากรทางการแพทย์และสาธารณสุข อื่นๆอีก 306 คน
          บริการด้วยเครื่องมือที่ทันสมัย มีผู้ป่วยที่มารับบริการเฉลี่ย วันละ 780
          คนต่อวัน มีเตียงผู้ป่วย จำนวน 170 เตียง มีผู้ป่วยในประมาณ 800
          รายต่อเดือน ให้บริการที่ครอบคลุมทั้ง 5 มิติ ส่งเสริมสุขภาพ ป้องกันโรค
          การรักษาพยาบาล ฟื้นฟูสภาพ และคุ้มครองผู้บริโภค
          รวมถึงรองรับการสาธารณสุขชายแดนและการท่องเที่ยว
        </div>
      </q-timeline-entry>

      <q-timeline-entry heading>ปัจจุบัน</q-timeline-entry>

      <q-timeline-entry title="ความก้าวหน้า" subtitle="ปัจจุบัน" side="left">
        <div>
          ภายใต้การบริหารงานโดย แพทย์หญิงปัทมพันธ์ อนันตาพงศ์ มีแพทย์เฉพาะทาง 17
          คน ครอบคลุมสาขาหลัก ทั้งสาขาสูติกรรม สาขาอายุรกรรม สาขาศัลยกรรม
          สาขากุมารเวชกรรม สาขาศัลยกรรมการดูกและข้อ สาขาจักษุวิทยา สาขาโสต
          ศอนาสิก ลาริงซ์วิทยา และสาขาเวชศาสตร์ฉุกเฉิน มีทันตแพทย์ 6 คน เภสัชกร
          10 คน พยาบาลวิชาชีพ 158 คน และบุคลากรทางการแพทย์และสาธารณสุข อื่นๆอีก
          306 คน บริการด้วยเครื่องมือที่ทันสมัย มีผู้ป่วยที่มารับบริการเฉลี่ย
          วันละ 780 คนต่อวัน มีเตียงผู้ป่วย จำนวน 170 เตียง มีผู้ป่วยในประมาณ
          800 รายต่อเดือน ให้บริการที่ครอบคลุมทั้ง 5 มิติ ส่งเสริมสุขภาพ
          ป้องกันโรค การรักษาพยาบาล ฟื้นฟูสภาพ และคุ้มครองผู้บริโภค
          รวมถึงรองรับการสาธารณสุขชายแดนและการท่องเที่ยว
        </div>
      </q-timeline-entry>

      <q-timeline-entry title="ผลงาน" side="right">
        <div>
          เนื่องจากโรงพยาบาลเบตง เป็นโรงพยาบาลทั่วไปที่อยู่ห่างไกลจาก
          โรงพยาบาลยะลา 140 กิโลเมตร ใช้เวลาในการเดินทาง กว่า 2 ชั่วโมง
          จำเป็นอย่างยิ่งที่จะต้องพัฒนาศักยภาพของโรงพยาบาลทั้งทางด้านเครื่องมือและศักยภาพบุคลากรให้สามารถดูแลประชากรในอำเภอเบตงได้อย่างมีคุณภาพ
          ลดการส่งต่อในโรคที่ไม่จำเป็น มีการพัฒนาระบบบริการที่สำคัญ ได้แก่
          <p>
            การพัฒนาและขยายบริการ NICU ที่มีมาตรฐาน จำนวน 6 เตียง
            ตามมาตรฐานของโรงพยาบาลทั่วไป
            สามารถรองรับการส่งต่อผู้ป่วยเด็กวิกฤติจากโรงพยาบาลใกล้เคียงได้
            มีการขยายบริการแพทย์แผนไทย
            โดยปรับปรุงอาคารผู้ป่วยนอกหลังเก่าเป็นอาคารแพทย์แผนไทยและการแพทย์ทางเลือก
            โดยเพิ่ม ห้องนวดจาก 8 ห้อง เป็น 14 ห้อง ขยายเวลาให้บริการนอกเวลา
            ซึ่งเป็นการเพิ่มรายรับให้กับโรงพยาบาลเบตงปีละประมาณ 6 แสนบาท
            พัฒนาระบบบริการส่องกล้องระบบทางเดินอาหาร และผ่าตัด ส่องกล้อง (MIS :
            Minimal invasive surgery) สามารถผ่าตัดส่องกล้องไซนัสและโพรงจมูก
            ผ่าตาต้อกระจก ต้อหิน และต้อลม การตรวจหัวใจด้วยคลื่นเสียงความถี่สูง
            บริการด้านห้องคลอดที่ได้มาตรฐาน
            และการตรวจวินิจฉัยที่ทันสมัยด้วยเครื่อง X-ray คอมพิวเตอร์
            รวมทั้งพัฒนาด้านโครงสร้างและสิ่งแวดล้อมในโรงพยาบาล
            อาคารที่พักอาศัยต่างๆ และความปลอดภัยภายในโรงพยาบาล .
            จากการที่ได้พัฒนาทั้งคน ระบบบริการ ดำเนินการควบคุมกำกับ
            ทำให้โรงพยาบาลเบตงได้ผ่านรับรองมาตรฐานต่าง ๆ ดังนี้
          </p>
          <p>
            - ได้รับการรับรองคุณภาพ HA จากสถาบันรับรองคุณภาพสถานพยาบาล
            ได้ผ่านการรับรองคุณภาพผ่านการ Reaccreditation ครั้งที่ 2
            เมื่อเดือนพฤศจิกายน 2558
          </p>
          <p>- สถานพยาบาลในดวงใจของสำนักงานประกันสังคม กระทรวงแรงงาน</p>
          <p>- ผ่านการประเมินโรงพยาบาลสายใยรักแห่งครอบครัว กรมอนามัย</p>
          <p>- ผ่านการประเมินสำนักงานกรมสนับสนุนบริการสุขภาพเขตที่ 12</p>
          <p>
            - ผ่านการประเมินอำเภอควบคุมโรคเข้มแข็ง จากศูนย์ควบคุมโรคเขตที่ 12
          </p>
          <p>
            - ผ่านการประเมิน NCD clinic plus ระดับดี จากศูนย์ควบคุมโรคเขตที่ 12
          </p>
          <p>- ผ่านเกณฑ์คลินิกวัณโรคคุณภาพ จากศูนย์วัณโรคเขตที่ 12</p>
          <p>
            - ผ่านเกณฑ์โรงพยาบาล Green and clean hospital ระดับดี จากกรมอนามัย
            รวมทั้งบุคลากรของโรงพยาบาลเบตงได้สร้างชื่อเสียงให้แก่โรงพยาบาลอย่างต่อเนื่อง
          </p>
        </div>
      </q-timeline-entry>

      <q-timeline-entry title="สรุป" side="left" color="orange" icon="done_all">
        <div>
          นับเป็นเวลา 54 ปีที่รพ.ได้เปิดให้บริการ องค์กรได้ผ่านการเรียนรู้
          พัฒนาอย่างต่อเนื่อง และก้าวไปอย่างไม่หยุดหยั่ง
          เพื่อให้ประชาชนชาวอำเภอเบตง ได้รับบริการที่ได้คุณภาพมาตรฐาน
          เป็นที่พึ่งของประชาชน ในอำเภอเบตงตลอดไป ดังปรัชญา บริการดุจญาติมิตร
          เพื่อคุณภาพ ชีวิตชาวเบตง
        </div>
      </q-timeline-entry>

      <q-timeline-entry title="วิสัยทัศน์" side="right">
        <div>
          “เป็นโรงพยาบาลชายแดนชั้นนำ ที่มีคุณภาพได้มาตรฐาน ภาคีเครือข่ายเข้มแข็ง
          ผู้รับบริการพึงพอใจ ผู้ให้บริการมีความสุข”
        </div>
      </q-timeline-entry>
      <q-timeline-entry title="อัตลักษณ์" side="right">
        <div>
          รับผิดชอบ ซื่อสัตย์ สามัคคี
        </div>
      </q-timeline-entry>

      <q-timeline-entry title="ค่านิยม" subtitle="PCT" side="left">
        <div>
          <p>1. Patient / Customer Focus (ลูกค้าสำคัญ)</p>
          <p>2. Continuous Process Improvement (พัฒนาอย่างต่อเนื่อง)</p>
          <p>3. Teamwork (ทำงานเป็นทีม)</p>
        </div>
      </q-timeline-entry>
    </q-timeline>
  </div>
</template>

<script>
export default {
  computed: {
    layout() {
      return this.$q.screen.lt.sm
        ? "dense"
        : this.$q.screen.lt.md
        ? "comfortable"
        : "loose";
    }
  }
};
</script>
