<template>
  <div class="q-pa-md">
    <!-- รูปภาพเลื่อนๆปกติ -->
    <q-carousel
      animated
      v-model="slide"
      navigation
      infinite
      autoplay
      transition-prev="slide-right"
      transition-next="slide-left"
    >
      <q-carousel-slide :name="1" img-src="../statics/1.jpg" />
      <q-carousel-slide :name="2" img-src="../statics/2.jpg" />
    </q-carousel>

    <h2 id="news" class="doc-h2 doc-heading text-center">ข่าวประชาสัมพันธ์</h2>
    <!-- ส่วนหัวของตาราง สลับtabได้ -->
    <q-card>
      <q-tabs
        v-model="tab"
        narrow-indicator
        dense
        align="justify"
        class="text-primary"
      >
        <q-tab :ripple="false" name="mails" icon="person" label="รับสมัคร" />
        <q-tab :ripple="false" name="alarms" icon="mail" label="ITA" />
        <q-tab
          :ripple="false"
          name="movies"
          icon="business"
          label="จัดซื้อจัดจ้าง"
        />
      </q-tabs>
      <!-- tab ข่าวสารของ pso -->
      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="mails">
          <!-- data คือ ตัวแปรของข้อมูลที่ใช้ ดึงจากapiมาเก็บในนั้น grid ทำให้จอเล็กแล้วตารางเปลี่ยนอีกแบบ -->
          <q-table
            :grid="$q.screen.xs"
            title="ข่าวสารการรับสมัครงาน"
            :data="data1"
            :columns="columns"
            row-key="name"
            :filter="filter"
            no-data-label="ไม่มีข้อมูลตารางนี้"
            no-results-label="ไม่มีผลลัพธ์ที่ตรงกัน"
          >
            <!-- ส่วนแรกตอนเต็มจอใช้ desktopแสดง เป็นการแก้ไขเฉพาะส่วน เพิ่ม linkให้download ได้ใน tag a ดู hrefดีๆ มี : ถึงใช้อ้างอิงแบบผสมกับตัวแปรได้ 
          ต้องใช้ tag a เพราะlinkไปภายนอกไปโหลดเอกสารจากserver ถ้าไปในหน้าเดียวกันใช้ rounterปกติ-->
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td key="Date" :props="props">{{ props.row.Date }}</q-td>
                <q-td key="Name" :props="props">
                  <div class="text-pre-wrap">{{ props.row.Nname }}</div>
                </q-td>
                <q-td key="Download" :props="props">
                  <a
                    v-if="props.row.Path"
                    :href="
                      'https://www.betonghospital.net/betonghospitaldb/news/' +
                        props.row.Path
                    "
                  >
                    <q-icon name="cloud_download" size="25px" />
                  </a>
                </q-td>
              </q-tr>
            </template>

            <!-- ส่วนที่2ของtab pso ในหน้าจอแบบ มือถือ แก้ไขเฉพาะส่วนอีกแล้ว เพื่อให้มันโหลดได้ -->

            <template v-slot:item="props">
              <div
                class="q-pa-xs col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-style-transition"
                :style="props.selected ? 'transform: scale(0.95);' : ''"
              >
                <q-card :class="props.selected ? 'bg-grey-2' : ''">
                  <q-separator />
                  <q-list dense>
                    <q-item>
                      <q-item-section>
                        <q-item-label>วันที่</q-item-label>
                      </q-item-section>
                      <q-item-section>
                        <q-item-label>{{ props.row.Date }}</q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-item>
                      <q-item-section>
                        <q-item-label>หัวข้อ</q-item-label>
                      </q-item-section>
                      <q-item-section>
                        <q-item-label>{{ props.row.Nname }}</q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-item>
                      <q-item-section>
                        <q-item-label>ดาวน์โหลด</q-item-label>
                      </q-item-section>
                      <q-item-section>
                        <a
                          :href="
                            'https://www.betonghospital.net/betonghospitaldb/news/' +
                              props.row.Path
                          "
                        >
                          <q-icon name="cloud_download" size="25px" />
                        </a>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card>
              </div>
            </template>

            <template v-slot:top-right>
              <q-input
                borderless
                dense
                debounce="300"
                v-model="filter"
                placeholder="Search"
              >
                <template v-slot:append>
                  <q-icon name="search" />
                </template>
              </q-input>
            </template>
            <template v-slot:no-data="{ icon, message, filter }">
              <div class="full-width row flex-center text-accent q-gutter-sm">
                <q-icon size="2em" name="sentiment_dissatisfied" />
                <span> {{ message }} </span>
                <q-icon size="2em" :name="filter ? 'filter_b_and_w' : icon" />
              </div>
            </template>
          </q-table>
        </q-tab-panel>

        <!-- tab ของ ita เป็นแบบ tree ใช้การแก้ไขเฉพาะส่วนเหมือนกัน เพิ่มให้มีการdownload -->

        <q-tab-panel name="alarms">
          <template>
            <div class="q-pa-md q-gutter-sm">
              <q-tree :nodes="data2" node-key="label" accordion>
                <template v-slot:default-header="prop">
                  <div class="row items-center">
                    <q-icon
                      :name="prop.node.icon || 'maximize'"
                      color="orange"
                      size="28px"
                      class="q-mr-sm"
                    />
                    <div class="text-weight-bold text-primary">
                      {{ prop.node.label }}
                    </div>
                  </div>
                </template>

                <template v-slot:default-body="prop">
                  <div v-if="prop.node.story">
                    <span class="text-weight-bold">วันที่</span>
                    :{{ prop.node.story }}
                    <a
                      v-if="prop.node.Path"
                      :href="
                        'https://www.betonghospital.net/betonghospitaldb/ita/' +
                          prop.node.Path
                      "
                    >
                      Download
                      <q-icon
                        name="arrow_downward"
                        size="25px"
                        class="q-mr-sm"
                      />
                    </a>
                  </div>
                </template>
              </q-tree>
            </div>
          </template>
        </q-tab-panel>

        <!-- tab จัดซื้อจัดจ้างgsเหมือน tabpso ยาวเหมือนกัน -->

        <q-tab-panel name="movies">
          <q-table
            :grid="$q.screen.xs"
            title="ข่าวสารการจัดซื้อจัดจ้าง"
            :data="data3"
            :columns="columns"
            row-key="name"
            :filter="filter"
            no-data-label="ไม่มีข้อมูลตารางนี้"
            no-results-label="ไม่มีผลลัพธ์ที่ตรงกัน"
          >
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td key="Date" :props="props">{{ props.row.Date }}</q-td>
                <q-td key="Name" :props="props">
                  <div class="text-pre-wrap">{{ props.row.Nname }}</div>
                </q-td>
                <q-td key="Download" :props="props">
                  <a
                    v-if="props.row.Path"
                    :href="
                      'https://www.betonghospital.net/betonghospitaldb/purchase/' +
                        props.row.Path
                    "
                  >
                    <q-icon name="cloud_download" size="25px" />
                  </a>
                </q-td>
              </q-tr>
            </template>

            <template v-slot:item="props">
              <div
                class="q-pa-xs col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-style-transition"
                :style="props.selected ? 'transform: scale(0.95);' : ''"
              >
                <q-card :class="props.selected ? 'bg-grey-2' : ''">
                  <q-separator />
                  <q-list dense>
                    <q-item>
                      <q-item-section>
                        <q-item-label>วันที่</q-item-label>
                      </q-item-section>
                      <q-item-section>
                        <q-item-label>{{ props.row.Date }}</q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-item>
                      <q-item-section>
                        <q-item-label>หัวข้อ</q-item-label>
                      </q-item-section>
                      <q-item-section>
                        <q-item-label>{{ props.row.Nname }}</q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-item>
                      <q-item-section>
                        <q-item-label>ดาวน์โหลด</q-item-label>
                      </q-item-section>
                      <q-item-section>
                        <a
                          :href="
                            'https://www.betonghospital.net/betonghospitaldb/purchase/' +
                              props.row.Path
                          "
                        >
                          <q-icon name="cloud_download" size="25px" />
                        </a>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card>
              </div>
            </template>

            <template v-slot:top-right>
              <q-input
                borderless
                dense
                debounce="300"
                v-model="filter"
                placeholder="Search"
              >
                <template v-slot:append>
                  <q-icon name="search" />
                </template>
              </q-input>
            </template>
            <template v-slot:no-data="{ icon, message, filter }">
              <div class="full-width row flex-center text-accent q-gutter-sm">
                <q-icon size="2em" name="sentiment_dissatisfied" />
                <span> {{ message }} </span>
                <q-icon size="2em" :name="filter ? 'filter_b_and_w' : icon" />
              </div>
            </template>
          </q-table>
        </q-tab-panel>
      </q-tab-panels>
    </q-card>

    <!-- ส่วนนี้เป็น iframe ยังไม่สมบูรณ์ -->
    <!-- <q-card>
      <div class="column items-center">
        <iframe
          width="50%"
          src="https://pr.moph.go.th/?url=pr/index/2/07/"
          height="600px"
          frameborder="0"
          
        >
        </iframe>
      </div>
    </q-card>-->
  </div>
</template>

<style lang="scss" scope>
.doc-h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 0.5rem 0;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
  margin: 4rem 0 1.5rem;
}
.doc-heading {
  color: #027be3;
  cursor: pointer;
}
.example-item {
  height: 56px;
}
</style>

<script>
// import axios from "axios";
// ใช้axiosinstance เพราะเซ็ตค่าdefaultไว้ในอีกไฟล์ได้และ ใช้ sessionได้ ไปดูใน boot/axios.js
import { axiosInstance } from "boot/axios";
export default {
  name: "PageIndex",
  data() {
    return {
      // ตัวแปรเก็บข้อมูลที่ใช้ในtab tab ตามลำดับ
      data1: [],
      data2: [],
      data3: [],
      slide: 1,
      tab: "mails",
      filter: "",

      columns: [
        {
          name: "Date",
          align: "left",
          label: "Date",
          field: "Date",

          sortable: true
        },
        {
          name: "Name",
          required: true,
          label: "Name",
          align: "center",
          field: "Nname",

          sortable: true
        },

        { name: "Download", label: "Download", field: "Type", sortable: true }
      ]
    };
  },

  created() {
    // ยิงaxios getปกติ
    axiosInstance.get("/api/getnewsA").then(response => {
      this.data1 = response.data;
    });

    axiosInstance.get("/api/getpurchase").then(response => {
      this.data3 = response.data;
    });

    axiosInstance.get("/api/getita").then(response => {
      this.data2 = response.data;

      // filterในการจัดการลบข้อมูลที่ไม่มี children เพื่อไม่ให้มันแสดงใน ita ถ้าไม่มีข่าวสารข้างใน มันจะรก ที่ต้องลบเพราะถ้าไม่งั้นมันจะเหลือหัวข้อเอาไว้

      this.data2 = this.data2.filter(data => {
        return data.children != null;
      });
    });
  },

  mounted() {}
};
</script>
