<template>
  <div class="row">
    <div class="col-12 col-md"></div>
    <div class="col-12 col-md">
      <q-card class="my-card" style="max-width: 400px; margin-top:50px; ">
        <div class="q-pa-md">
          <!-- formปกติ ข้างในให้มันlinkไปfuntion submit ที่ต้องการ -->
          <q-form @submit="onSubmit" class="q-gutter-md">
            <q-input
              filled
              v-model="user"
              label="กรุณาใส่ยูเซอร์"
              lazy-rules
              :rules="[
                val => (val && val.length > 0) || 'Please type something'
              ]"
            />

            <q-input
              filled
              type="password"
              v-model="pass"
              label="กรุณาใส่พาสเวริด"
              lazy-rules
              :rules="[
                val => (val && val.length > 0) || 'Please type something'
              ]"
            />

            <div align="center">
              <q-btn label="LOGIN" type="submit" color="primary" />
            </div>
          </q-form>
        </div>
        <!-- template เวลาerroralert -->
        <q-dialog v-model="alert">
          <q-card>
            <q-card-section>
              <div class="text-h6">ไม่สามารถเข้าถึงได้</div>
            </q-card-section>

            <q-card-section class="q-pt-none" v-if="alertnormal">
              รหัสไม่ถูกต้อง
            </q-card-section>

            <q-card-section class="q-pt-none" v-if="alerterror">
              Error not status :200 โปรดแจ้ง admin
            </q-card-section>

            <q-card-section class="q-pt-none" v-if="alerterror1">
              Error not status :400 โปรดแจ้ง admin
            </q-card-section>

            <q-card-actions align="right">
              <q-btn flat label="OK" color="primary" v-close-popup />
            </q-card-actions>
          </q-card>
        </q-dialog>
      </q-card>
    </div>
    <div class="col-12 col-md"></div>
  </div>
</template>

<script>
import { axiosInstance } from "boot/axios";
export default {
  data() {
    return {
      user: null,
      pass: null,
      alert: false,
      alertnormal: false,
      alerterror: false,
      alerterror1: false
    };
  },

  methods: {
    onSubmit() {
      let _this = this;
      let formData = new FormData();
      formData.append("user", this.user);
      formData.append("pass", this.pass);

      axiosInstance
        .post("/login", formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(response => {
          // ถ้า 200 ให้ส่งไปอีกหน้านึง
          if (response.status == 200) {
            _this.$router.push("/manage");
          } else {
            this.alert = true;
            this.alerterror = true;
          }
        })
        .catch(error => {
          // ให้แสดง error alert ถ้า400
          if (error.response.status == 401) {
            this.alert = true;
            this.alertnormal = true;
          } else {
            this.alert = true;
            this.alerterror1 = true;
          }
        });

      // axios
      //   .post(
      //     "http://localhost/betonghospitaldb/public/login",
      //     {
      //       param : {user: this.user,pass: this.pass}
      //     },
      //     {
      //       headers: {
      //         "Content-Type": "application/x-www-form-urlencoded"
      //       }
      //     }
      //   )
      //   .then(function(response) {
      //     console.log(response);
      //     if (response.status == 200) {
      //       _this.$router.push("/manage");
      //     } else {
      //       console.log("status ไม่ใข่ 200");
      //     }
      //   })
      //   .catch(function(error) {
      //     console.log(error);
      //     if (error.response.status == 401) {
      //       console.log("รหัสของคุณไม่ถูกต้อง");
      //     } else {
      //       console.log("โค้ดไม่ถูก");
      //     }
      //   });
    },

    onReset() {
      this.user = null;
      this.pass = null;
    }
  }
};
</script>
