<template>
  <div class="row">
    <div class="col-12 col-md"></div>
    <div class="col-12 col-md-6 q-pa-md layout-border" style="max-width: 500px">
      <!-- ฟอร์มแรกของ pso -->
      <q-card class="my-card q-mt-md" v-if="personal">
        <q-card-section class="bg-primary text-white">
          <div class="text-h6">จัดการข่าวสาร</div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-form
            @submit="onSubmit"
            @submit.prevent="simulateSubmit"
            @reset="onReset"
            class="q-gutter-md"
            ref="Form1"
          >
            <!-- rulesต้องมีในdoc ของinput นั้นๆ ข้อกำหนดคือห้ามมีค่าว่าง -->
            <q-input
              filled
              v-model="name1"
              label="กรุณาใส่หัวข้อของข่าวสาร"
              lazy-rules
              :rules="[
                val => (val && val.length > 0) || 'โปรดใส่หัวข้อข่าวสารก่อน'
              ]"
            />
            <div class="row">
              <q-file
                filled
                v-model="file1"
                label="แนบไฟล์ ข่าวสาร เฉพาะ .pdf หรือ รูปภาพ"
                accept=".jpg, .pdf, .png"
              />
            </div>

            <div>
              <q-btn color="red" label="clear" type="reset" />
              <q-btn
                label="Submit"
                type="submit"
                color="primary"
                class="q-ml-md"
                :loading="submitting"
              >
                <!-- เทมเฟลตเวลากดsubmit หมุนๆเพื่อการคนกดรัวๆแล้วมันลั่น -->
                <template v-slot:loading>
                  <q-spinner-facebook />
                </template>
              </q-btn>
            </div>
          </q-form>
        </q-card-section>
      </q-card>
      <!-- ฟอร์มของ ita -->
      <q-card class="my-card q-mt-md" v-if="ita">
        <q-card-section class="bg-primary text-white">
          <div class="text-h6">จัดการข่าวสาร ITA</div>
        </q-card-section>

        <q-separator />

        <q-card-section>
          <q-form
            @submit="onSubmit2"
            @submit.prevent="simulateSubmit"
            @reset="onReset2"
            class="q-gutter-md"
            ref="Form2"
          >
            <q-input
              filled
              v-model="name2"
              label="กรุณาใส่หัวข้อของข่าวสาร"
              lazy-rules
              :rules="[
                val =>
                  (val && val.length > 0) ||
                  'โปรดใส่รายละเอียดหัวข้อข่าวสารก่อน'
              ]"
            />

            <div class="row">
              <q-file
                filled
                v-model="file2"
                lazy-rules
                label="แนบไฟล์ ข่าวสาร เฉพาะ .pdf หรือ รูปภาพ"
                :rules="[val => !!val || 'โปรดแนบเอกสารทุกครั้ง']"
                accept=".jpg, .pdf, .png"
              />
            </div>
            <!-- rules อีกแบบห้ามว่างไม่ให้submitไปได้ สำหรับพวกselect or file input -->

            <q-select
              filled
              v-model="model2"
              :options="options2"
              label="เลือกหัวข้อ EB"
              lazy-rules
              :rules="[val => !!val || 'โปรดเลือกหัวข้อ EB ']"
            />

            <div>
              <q-btn color="black" label="Clear" type="reset" />
              <q-btn
                label="Submit"
                type="submit"
                color="primary"
                class="q-ml-md"
                :loading="submitting"
                ><template v-slot:loading>
                  <q-spinner-facebook />
                </template>
              </q-btn>
            </div>
          </q-form>
        </q-card-section>
      </q-card>
      <!-- ฟอร์มจัดซื้อ-จัดจ้าง -->
      <q-card class="my-card q-mt-md" v-if="padsadu">
        <q-card-section class="bg-primary text-white">
          <div class="text-h6">จัดการ จัดซื้อ-จัดจ้าง</div>
        </q-card-section>

        <q-separator />

        <q-card-section>
          <q-form
            @submit="onSubmit3"
            @submit.prevent="simulateSubmit"
            @reset="onReset3"
            class="q-gutter-md"
            ref="Form3"
          >
            <q-input
              filled
              v-model="name3"
              label="กรุณาใส่หัวข้อของข่าวสาร"
              lazy-rules
              :rules="[
                val => (val && val.length > 0) || 'โปรดใส่หัวข้อข่าวสารก่อน'
              ]"
            />
            ไม่ต้องมีrules เผื่อลงแต่หัวข้อไม่มีแนบไฟล์
            <div class="row">
              <q-file
                filled
                v-model="file3"
                label="แนบไฟล์ ข่าวสาร เฉพาะ .pdf หรือ รูปภาพ"
                accept=".jpg, .pdf, .png"
              />
            </div>
            <!-- <div class="q-gutter-sm">
              <q-radio
                keep-color
                v-model="titletype"
                val="1"
                label="ประกาศจัดซื้อจัดจ้าง"
                color="teal"
              />
              <q-radio
                keep-color
                v-model="titletype"
                val="2"
                label=" เอกสารเผยแผ่"
                color="orange"
              />
              <q-radio
                keep-color
                v-model="titletype"
                val="3"
                label="สรุปรายงานจัดซื้อ/จัดจ้าง"
                color="red"
              />
            </div> -->

            <!-- <q-select filled v-model="model" :options="options" label="Filled" />  เร็วๆนี้ ในกรณีที่มีข่าวหลายประเภท-->

            <div>
              <q-btn color="red" label="clear" type="reset" />
              <q-btn
                label="Submit"
                type="submit"
                color="primary"
                class="q-ml-md"
                :loading="submitting"
                ><template v-slot:loading>
                  <q-spinner-facebook />
                </template>
              </q-btn>
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </div>

    <!-- ปุ่มลอย ใช้ logout -->
    <div class="col-12 col-md">
      <q-page-sticky position="bottom-right" :offset="[18, 18]">
        <q-btn color="primary" label="logout" @click="logout()" />
      </q-page-sticky>
    </div>
    <q-dialog v-model="icon">
      <q-card>
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">Error</div>

          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>

        <q-card-section>
          ไม่สามารถ logout ได้ โปรดแจ้ง admin
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>
<style lang="sass" scoped>
.my-card
  width: 100%
</style>

<script>
import { axiosInstance } from "boot/axios";
export default {
  data() {
    return {
      alert: false,
      icon: false,
      model2: null,
      // titletype: "1",
      options2: [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15,
        16,
        17,
        18,
        19,
        20,
        21,
        22,
        23,
        24,
        25,
        26
      ],
      // ตัวแปร จากตามแต่ละฟอร์ม 3ชุด
      file1: null,
      file2: null,
      file3: null,
      name1: null,
      name2: null,
      name3: null,
      age: null,
      personal: false,
      ita: false,
      padsadu: false,
      submitting: false
    };
  },

  methods: {
    // ฟังก์ชั่น ดีเลย์ submit
    simulateSubmit() {
      this.submitting = true;

      // Simulating a delay here.
      // When we are done, we reset "submitting"
      // Boolean to false to restore the
      // initial state.
      setTimeout(() => {
        // delay simulated, we are done,
        // now restoring submit to its initial state
        this.submitting = false;
      }, 3000);
    },
    onSubmit() {
      let formData = new FormData();
      formData.append("name1", this.name1);
      formData.append("file1", this.file1);

      axiosInstance
        .post("/api/submitnews", formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(response => {
          if (response.status !== 200) {
            this.$q.notify({
              color: "red-5",
              textColor: "white",
              icon: "warning",
              message: "ไม่สามารถลงข่าวสารได้"
            });
          } else {
            this.$q.notify({
              color: "green-4",
              textColor: "white",
              icon: "cloud_done",
              message: "ลงข่าวสารเรียบร้อย"
            });

            this.onReset();
          }
        });
    },

    // ฟังก์ชั่นresetให้ ตัวrulesหายด้วย คือ resetValidation
    onReset() {
      this.$refs.Form1.resetValidation();
      this.name1 = null;
      this.file1 = null;
    },

    onSubmit2() {
      let formData = new FormData();
      formData.append("name2", this.name2);
      formData.append("file2", this.file2);
      formData.append("Type2", this.model2);

      axiosInstance
        .post("/api/submitita", formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(response => {
          if (response.status !== 200) {
            this.$q.notify({
              color: "red-5",
              textColor: "white",
              icon: "warning",
              message: "ไม่สามารถลงข่าวสารได้"
            });
          } else {
            this.$q.notify({
              color: "green-4",
              textColor: "white",
              icon: "cloud_done",
              message: "ลงข่าวสารเรียบร้อย"
            });

            this.onReset2();
          }
        });
    },

    onReset2() {
      this.$refs.Form2.resetValidation();
      this.name2 = null;
      this.file2 = null;
      this.model2 = null;
    },

    onSubmit3() {
      let formData = new FormData();
      formData.append("name3", this.name3);
      formData.append("file3", this.file3);
      // formData.append("titletype", this.titletype);

      axiosInstance
        .post("/api/submitpurchase", formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(response => {
          if (response.status !== 200) {
            this.$q.notify({
              color: "red-5",
              textColor: "white",
              icon: "warning",
              message: "ไม่สามารถลงข่าวสารได้"
            });
          } else {
            this.$q.notify({
              color: "green-4",
              textColor: "white",
              icon: "cloud_done",
              message: "ลงข่าวสารเรียบร้อย"
            });

            this.onReset3();
          }
        });
    },

    onReset3() {
      this.$refs.Form3.resetValidation();
      this.name3 = null;
      this.file3 = null;
    },

    logout() {
      let _this = this;
      axiosInstance.post("/logout").then(response => {
        if (response.status == 200) {
          _this.$router.push("/login");
        } else {
          this.icon = true;
        }
      });
    }
  },
  created() {
    let _this = this;
    axiosInstance
      .post("/check")
      .then(response => {
        if (response.status == 200) {
          switch (response.data) {
            case "3":
              _this.personal = true;
              _this.ita = true;
              _this.padsadu = true;
              break;
            case "1":
              _this.personal = true;
              break;
            case "2":
              _this.ita = true;
              break;
            case "4":
              _this.padsadu = true;
              break;
          }
        } else {
          _this.$router.push("/home");
        }
      })
      .catch(error => {
        if (error.response.status == 401) {
          _this.$router.push("/login");
        } else {
          _this.$router.push("/home");
        }
      });
  }
};
</script>
