<template>
  <div>
    <q-splitter
      v-model="splitterModel"
      style="height: 750px"
      separator-class="bg-orange"
      separator-style="width: 3px"
    >
      <template v-slot:before>
        <div class="q-pa-md">
          <q-tree
            :nodes="simple"
            node-key="label"
            selected-color="primary"
            :selected.sync="selected"
            default-expand-all
          />
        </div>
      </template>
      <template v-slot:separator>
        <q-avatar
          color="primary"
          text-color="white"
          size="20px"
          icon="drag_indicator"
        />
      </template>

      <template v-slot:after>
        <q-tab-panels
          v-model="selected"
          animated
          transition-prev="jump-up"
          transition-next="jump-up"
        >
          <q-tab-panel name="Betonghospital">
            <div class="text-h5 q-mb-md text-center">โรงพยาบาลเบตง</div>

            <div class="row q-pa-md">
              <div class="col"></div>
              <div class="col-8" align="center">
                <q-card class="my-card">
                  <q-img src="../statics/boss1.jpg" basic>
                    <div class="absolute-bottom text-h6 text-center">
                      ผู้อำนวยการ
                    </div>
                  </q-img>

                  <q-card-section class="text-center">
                    {{ boss }}
                  </q-card-section>
                </q-card>
              </div>
              <div class="col"></div>
            </div>

            <div class="text-h6 q-mb-md">วิสัยทัศน์</div>

            <p>
              เป็นโรงพยาบาลชายแดนชั้นนำที่มีคุณภาพได้มาตรฐาน
              ภาคีเครือข่ายเข้มแข็ง ผู้รับบริการพึงพอใจ ผู้ให้บริการมีความสุข
            </p>
            <div class="text-h6 q-mb-md">พันธกิจ</div>
            <p>
              1.พัฒนาระบบบริการที่ครอบคลุมทั้ง5มิติอย่างมีคุณภาพและได้มาตรฐาน
            </p>
            <p>2.ส่งเสริมการมีส่วนร่วมของภาคีเครือข่าย</p>
            <p>
              3.พัฒนาระบบบริการที่ตอบสนองต่อความคาดหวังและความพึงพอใจของประชาชน
            </p>
            <p>4.เสริมสร้างขวัญกำลังใจ และความสุขของบุคลากร</p>
            <p>5.พัฒนาระบบบริหารจัดการให้มีคุณภาพ</p>

            <div class="text-h6 q-mb-md">เป้าประสงค์รวม</div>

            <p>
              ประชาชนมีสุขภาพดีได้รับบริการที่มีคุณภาพมาตรฐานและตอบสนองต่อความพึงพอใจของผู้รับบริการมีการบริหารจัดการที่มีประสิทธิภาพตามหลักธรรมาภิบาล
              เป็นองค์กรแห่งการเรียนรู้ บุคลากรมีศักยภาพ
              มีความสุขในการปฏิบัติงาน
              ภาคีเครือข่ายมีความเข้มแข็งและมีส่วนร่วมในการดูแลสุขภาพประชาชน
            </p>

            <div class="text-h6 q-mb-md">ประเด็นยุทธศาสตร์</div>
            <p>
              1.พัฒนาระบบบริการสุขภาพที่ครอบคลุมทั้ง 5
              มิติในทุกกลุ่มวัยให้มีคุณภาพได้มาตรฐาน โดยภาคีเครือข่ายมีส่วนร่วม
            </p>
            <p>
              2.พัฒนา/ขยายระบบบริการสุขภาพและสาธารณสุขชายแดนให้มีคุณภาพและได้มาตรฐาน
            </p>
            <P>3.พัฒนาระบบบริการจัดการทรัพยากรบุคคล</P>
            <p>4.พัฒนาระบบสารสนเทศให้มีคุณภาพ</p>
            <p>5.พัฒนาระบบการเงินการคลังให้มีประสิทธิภาพ</p>

            <div class="text-h6 q-mb-md">เป้าประสงค์เชิงยุทธศาสตร์</div>

            <p>
              1.ประชาชนมีสุขภาพดี ได้รับบริการสุขภาพที่ได้มาตรฐาน
              สามารถดูแลตนเองได้ ภาคีเครือข่ายเข้มแข็ง
            </p>
            <p>
              2.ประชาชนได้รับบริการที่มีคุณภาพได้มาตรฐานและรองรับปัญหาสาธารณสุขชายแดน
            </p>
            <p>3.บุคลากรมีศักยภาพ มีความสุข มีความผูกพันต่องค์กร</p>
            <p>4.ระบบสารสนเทศที่มีคุณภาพ ตอบสนองความต้องการของผู้รับบริการ</p>
            <p>5.ระบบการเงินการคลังที่มีเสถียรภาพ</p>
          </q-tab-panel>

          <q-tab-panel name="วางแผนครอบครัว">
            <div class="text-h4 q-mb-md">วางแผนครอบครัว</div>
            <template>
              <div class="q-pa-md row items-start q-gutter-md">
                <q-card class="my-card">
                  <q-list>
                    <q-item clickable>
                      <q-item-section avatar class="col-6">
                        <q-item-label>073-234078-9</q-item-label>
                      </q-item-section>

                      <q-item-section class="col-6">
                        <q-item-label>ต่อ 117</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card>
              </div>
            </template>
          </q-tab-panel>

          <q-tab-panel name="ทันตกรรม">
            <div class="text-h4 q-mb-md">ทันตกรรม</div>
            <template>
              <div class="q-pa-md row items-start q-gutter-md">
                <q-card class="my-card">
                  <q-list>
                    <q-item clickable>
                      <q-item-section avatar class="col-6">
                        <q-item-label>073-234078-9</q-item-label>
                      </q-item-section>

                      <q-item-section class="col-6">
                        <q-item-label>ต่อ 121</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card>
              </div>
            </template>
          </q-tab-panel>

          <q-tab-panel name="ไตเทียม">
            <div class="text-h4 q-mb-md">ไตเทียม</div>
            <template>
              <div class="q-pa-md row items-start q-gutter-md">
                <q-card class="my-card">
                  <q-list>
                    <q-item clickable>
                      <q-item-section avatar class="col-6">
                        <q-item-label>073-234078-9</q-item-label>
                      </q-item-section>

                      <q-item-section class="col-6">
                        <q-item-label>ต่อ 150</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card>
              </div>
            </template>
          </q-tab-panel>

          <q-tab-panel name="อายุรกรรม">
            <div class="text-h4 q-mb-md">อายุรกรรม</div>
            <template>
              <div class="q-pa-md row items-start q-gutter-md">
                <q-card class="my-card">
                  <q-list>
                    <q-item clickable>
                      <q-item-section avatar class="col-6">
                        <q-item-label>073-234078-9</q-item-label>
                      </q-item-section>

                      <q-item-section class="col-6">
                        <q-item-label>ต่อ 125</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card>
              </div>
            </template>
          </q-tab-panel>

          <q-tab-panel name="OPD ฝังเข็ม">
            <div class="text-h4 q-mb-md">OPD ฝังเข็ม</div>
            <template>
              <div class="q-pa-md row items-start q-gutter-md">
                <q-card class="my-card">
                  <q-list>
                    <q-item clickable>
                      <q-item-section avatar class="col-6">
                        <q-item-label>073-234078-9</q-item-label>
                      </q-item-section>

                      <q-item-section class="col-6">
                        <q-item-label>ต่อ 186</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card>
              </div>
            </template>
          </q-tab-panel>

          <q-tab-panel name="OPD ทั่วไป">
            <div class="text-h4 q-mb-md">OPD ทั่วไป</div>
            <template>
              <div class="q-pa-md row items-start q-gutter-md">
                <q-card class="my-card">
                  <q-list>
                    <q-item clickable>
                      <q-item-section avatar class="col-6">
                        <q-item-label>073-234078-9</q-item-label>
                      </q-item-section>
                      <q-item-section class="col-6">
                        <q-item-label>ต่อ 116</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card>
              </div>
            </template>
          </q-tab-panel>

          <q-tab-panel name="OPDอายุรกรรม">
            <div class="text-h4 q-mb-md">OPDอายุรกรรม</div>
            <template>
              <div class="q-pa-md row items-start q-gutter-md">
                <q-card class="my-card">
                  <q-list>
                    <q-item clickable>
                      <q-item-section avatar class="col-6">
                        <q-item-label>073-234078-9</q-item-label>
                      </q-item-section>
                      <q-item-section class="col-6">
                        <q-item-label>ต่อ 192</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card>
              </div>
            </template>
          </q-tab-panel>

          <q-tab-panel name="OPD ตา">
            <div class="text-h4 q-mb-md">OPD ตา</div>
            <template>
              <div class="q-pa-md row items-start q-gutter-md">
                <q-card class="my-card">
                  <q-list>
                    <q-item clickable>
                      <q-item-section avatar class="col-6">
                        <q-item-label>073-234078-9</q-item-label>
                      </q-item-section>
                      <q-item-section class="col-6">
                        <q-item-label>ต่อ 134</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card>
              </div>
            </template>
          </q-tab-panel>

          <q-tab-panel name="OPD กระดูก">
            <div class="text-h4 q-mb-md">OPD กระดูก</div>
            <template>
              <div class="q-pa-md row items-start q-gutter-md">
                <q-card class="my-card">
                  <q-list>
                    <q-item clickable>
                      <q-item-section avatar class="col-6">
                        <q-item-label>073-234078-9</q-item-label>
                      </q-item-section>
                      <q-item-section class="col-6">
                        <q-item-label>ต่อ 181</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card>
              </div>
            </template>
          </q-tab-panel>

          <q-tab-panel name="ประชาสัมพันธ์">
            <div class="text-h4 q-mb-md">ประชาสัมพันธ์</div>
            <template>
              <div class="q-pa-md row items-start q-gutter-md">
                <q-card class="my-card">
                  <q-list>
                    <q-item clickable>
                      <q-item-section avatar class="col-6">
                        <q-item-label>073-234078-9</q-item-label>
                      </q-item-section>
                      <q-item-section class="col-6">
                        <q-item-label>ต่อ 161</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card>
              </div>
            </template>
          </q-tab-panel>

          <q-tab-panel name="การเจ้าหน้าที่">
            <div class="text-h4 q-mb-md">การเจ้าหน้าที่</div>
            <template>
              <div class="q-pa-md row items-start q-gutter-md">
                <q-card class="my-card">
                  <q-list>
                    <q-item clickable>
                      <q-item-section avatar class="col-6">
                        <q-item-label>073-234078-9</q-item-label>
                      </q-item-section>
                      <q-item-section class="col-6">
                        <q-item-label>ต่อ 183</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card>
              </div>
            </template>
          </q-tab-panel>

          <q-tab-panel name="สุขภาพจิต">
            <div class="text-h4 q-mb-md">สุขภาพจิต</div>
            <template>
              <div class="q-pa-md row items-start q-gutter-md">
                <q-card class="my-card">
                  <q-list>
                    <q-item clickable>
                      <q-item-section avatar class="col-6">
                        <q-item-label>073-234078-9</q-item-label>
                      </q-item-section>
                      <q-item-section class="col-6">
                        <q-item-label>ต่อ 184</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card>
              </div>
            </template>
          </q-tab-panel>

          <q-tab-panel name="กายภาพบำบัด">
            <div class="text-h4 q-mb-md">กายภาพบำบัด</div>
            <template>
              <div class="q-pa-md row items-start q-gutter-md">
                <q-card class="my-card">
                  <q-list>
                    <q-item clickable>
                      <q-item-section avatar class="col-6">
                        <q-item-label>073-234078-9</q-item-label>
                      </q-item-section>
                      <q-item-section class="col-6">
                        <q-item-label>ต่อ 155</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card>
              </div>
            </template>
          </q-tab-panel>

          <q-tab-panel name="สังคมสงเคราะห์">
            <div class="text-h4 q-mb-md">สังคมสงเคราะห์</div>
            <template>
              <div class="q-pa-md row items-start q-gutter-md">
                <q-card class="my-card">
                  <q-list>
                    <q-item clickable>
                      <q-item-section avatar class="col-6">
                        <q-item-label>073-234078-9</q-item-label>
                      </q-item-section>
                      <q-item-section class="col-6">
                        <q-item-label>ต่อ 197</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card>
              </div>
            </template>
          </q-tab-panel>

          <q-tab-panel name="เวชระเบียน">
            <div class="text-h4 q-mb-md">เวชระเบียน</div>
            <template>
              <div class="q-pa-md row items-start q-gutter-md">
                <q-card class="my-card">
                  <q-list>
                    <q-item clickable>
                      <q-item-section avatar class="col-6">
                        <q-item-label>073-234078-9</q-item-label>
                      </q-item-section>
                      <q-item-section class="col-6">
                        <q-item-label>ต่อ 114</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card>
              </div>
            </template>
          </q-tab-panel>

          <q-tab-panel name="ศัลยกรรม">
            <div class="text-h4 q-mb-md">ศัลยกรรม</div>
            <template>
              <div class="q-pa-md row items-start q-gutter-md">
                <q-card class="my-card">
                  <q-list>
                    <q-item clickable>
                      <q-item-section avatar class="col-6">
                        <q-item-label>073-234078-9</q-item-label>
                      </q-item-section>
                      <q-item-section class="col-6">
                        <q-item-label>ต่อ 190</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card>
              </div>
            </template>
          </q-tab-panel>

          <q-tab-panel name="แพทย์แผนไทย">
            <div class="text-h4 q-mb-md">แพทย์แผนไทย</div>
            <template>
              <div class="q-pa-md row items-start q-gutter-md">
                <q-card class="my-card">
                  <q-list>
                    <q-item clickable>
                      <q-item-section avatar class="col-6">
                        <q-item-label>073-234078-9</q-item-label>
                      </q-item-section>
                      <q-item-section class="col-6">
                        <q-item-label>ต่อ 318</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card>
              </div>
            </template>
          </q-tab-panel>

          <q-tab-panel name="เอกซเรย์">
            <div class="text-h4 q-mb-md">เอกซเรย์</div>
            <template>
              <div class="q-pa-md row items-start q-gutter-md">
                <q-card class="my-card">
                  <q-list>
                    <q-item clickable>
                      <q-item-section avatar class="col-6">
                        <q-item-label>073-234078-9</q-item-label>
                      </q-item-section>
                      <q-item-section class="col-6">
                        <q-item-label>ต่อ 132</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card>
              </div>
            </template>
          </q-tab-panel>

          <q-tab-panel name="อุบัติเหตุฉุกเฉิน">
            <div class="text-h4 q-mb-md">อุบัติเหตุฉุกเฉิน</div>
            <template>
              <div class="q-pa-md row items-start q-gutter-md">
                <q-card class="my-card">
                  <q-list>
                    <q-item clickable>
                      <q-item-section avatar class="col-6">
                        <q-item-label>073-234078-9</q-item-label>
                      </q-item-section>
                      <q-item-section class="col-6">
                        <q-item-label>ต่อ 120</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card>
              </div>
            </template>
          </q-tab-panel>
        </q-tab-panels>
      </template>
    </q-splitter>
  </div>
</template>

<script>
export default {
  data() {
    return {
      boss: "นางสาว ปัทมพันธ์ อนันตาพงศ์",
      splitterModel: 30,
      selected: "Betonghospital",
      simple: [
        {
          label: "Betonghospital",
          children: [
            {
              label: "อุบัติเหตุฉุกเฉิน",
              icon: "fas fa-ambulance"
            },
            {
              label: "วางแผนครอบครัว",
              icon: "fas fa-users"
            },
            {
              label: "ทันตกรรม",
              icon: "fas fa-tooth"
            },
            {
              label: "ไตเทียม",
              icon: "fas fa-plus-circle"
            },
            {
              label: "อายุรกรรม",
              icon: "fas fa-blind"
            },
            {
              label: "OPD ฝังเข็ม",
              icon: "fas fa-file-medical-alt"
            },
            {
              label: "OPD ทั่วไป",
              icon: "fas fa-file-medical"
            },
            {
              label: "OPDอายุรกรรม",
              icon: "fas fa-notes-medical"
            },
            {
              label: "OPD กระดูก",
              icon: "fas fa-bone"
            },
            {
              label: "OPD ตา",
              icon: "fas fa-eye"
            },
            {
              label: "การเจ้าหน้าที่",
              icon: "fas fa-user-check"
            },
            {
              label: "ประชาสัมพันธ์",
              icon: "fas fa-question"
            },
            {
              label: "สุขภาพจิต",
              icon: "fas fa-brain"
            },
            {
              label: "กายภาพบำบัด",
              icon: "fas fa-wheelchair"
            },
            {
              label: "สังคมสงเคราะห์",
              icon: "fas fa-balance-scale-right"
            },
            {
              label: "เวชระเบียน",
              icon: "fas fa-folder"
            },
            {
              label: "ศัลยกรรม",
              icon: "fas fa-user-injured"
            },
            {
              label: "แพทย์แผนไทย",
              icon: "fas fa-people-carry"
            },
            {
              label: "เอกซเรย์",
              icon: "fas fa-x-ray"
            }
          ]
        }
      ]
    };
  }
};
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 250px
</style>
