<template>
  <q-layout view="hHr lpR fFf">
    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <q-toolbar-title>
          <q-btn flat no-caps no-wrap class="q-ml-xs" to="/">
            <q-icon name="local_hospital" color="white" size="28px" />
            <q-toolbar-title shrink class="text-weight-bold"
              >Betonghospital</q-toolbar-title
            >
          </q-btn>
        </q-toolbar-title>

        <q-btn dense flat round icon="menu" @click="right = !right" />
      </q-toolbar>
    </q-header>

    <q-drawer v-model="right" side="right" bordered>
      <q-list bordered padding class="rounded-borders text-primary">
        <q-item clickable v-ripple to="/" active-class="my-menu-link" exact>
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>

          <q-item-section>หน้าแรก</q-item-section>
        </q-item>

        <q-item
          clickable
          v-ripple
          to="/service"
          active-class="my-menu-link"
          exact
        >
          <q-item-section avatar>
            <q-icon name="apartment" />
          </q-item-section>

          <q-item-section>บริการของเรา</q-item-section>
        </q-item>

        <q-item
          clickable
          v-ripple
          to="/history"
          active-class="my-menu-link"
          exact
        >
          <q-item-section avatar>
            <q-icon name="history" />
          </q-item-section>

          <q-item-section>ความเป็นมาของเรา</q-item-section>
        </q-item>

        <q-separator spaced />

        <q-item
          clickable
          v-ripple
          tag="a"
          href="https://www.betonghospital.net/regis_line/notify_uselib.php"
          active-class="my-menu-link"
          exact
        >
          <q-item-section avatar>
            <q-icon name="fab fa-line" />
          </q-item-section>

          <q-item-section>ลงทะเบียน line Notify</q-item-section>
        </q-item>

        <!-- <q-separator spaced /> -->

        <!-- <q-item
          clickable
          v-ripple
          to="/contact"
          active-class="my-menu-link"
          exact
        >
          <q-item-section avatar>
            <q-icon name="contact_support" />
          </q-item-section>

          <q-item-section>ติดต่อเรา</q-item-section>
        </q-item> -->
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  data() {
    return {
      right: false,
      drawer: false
    };
  }
};
</script>

<style lang="sass">
.my-menu-link
  color: white
  background: $primary
</style>
